
<div class="large-10 push-2 columns">
<%= form_for @producer, remote: true, html: { id: "producer-form" } do |f| %>
    <%= f.label :food_type %>
    <%= f.text_field :food_type, placeholder: "Enter the kind of food" %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity, placeholder: "Enter the quantity" %>
    <%= f.label :expiration %>
    <%= f.text_field :expiration, placeholder: "Enter the time of expiration" %>
    <%= f.label :address %>
    <%= f.text_field :address, placeholder: "Enter the address of your excedents" %>
    <%= f.label :schedule %>
    <%= f.text_field :schedule, placeholder: "Enter the schedule to pick up the excedents" %>
    <%= f.submit type="Submit", class: "button" %>

<% end %>
</div>