<h1><%= @receiver.food_type %></h1>

<h1><%= @receiver.quantity %></h1>

<h1><%= @receiver.maximum_storage_time %></h1>

<h1><%= @receiver.address %></h1>

<h1><%= @receiver.time %></h1>

<h1><%= @receiver.beneciary %></h1>