<h1><%= @producer.food_type %></h1>

<p>Quantity: <%= @producer.quantity %></p>
<p>Expiration: <%= @producer.expiration %></p>
<p>Address: <%= @producer.address %></p>
<p>Schedule: <%= @producer.schedule %></p>


