
<div class="nested-fields">
  <div class="row collapse">
  <div class="large-4 columns">
    <%= f.label :food_type, "Producto" %>
    <%= f.text_field :food_type, required: true %>
  </div>
  <div class="large-4 columns">
    <%= f.label :quantity, "Kilos" %>
    <%= f.text_field :quantity, required: true %>
  </div>
  <div class="large-4 columns">
    <%= f.label :expiration, "Caducidad", required: true %>
    <%= f.date_field :expiration %>
  </div>

</div>