<div class="row">
	<div class="large-8 column">
		<section class="check-title">
			<h1><%= @chance.title %></h1>
			<p><%= @chance.email %></p>
		</section>
		<section>
			<% @chance.products.each do |product| %>
			<ul class="view-product">
		   	  	<li><%= product.quantity %> kilos de <%= product.food_type %></li> 
			    <li>Caducidad: <%= product.expiration %></li>
			    <li>Horario de recogida: <%= @chance.schedule %></li>
			    <li>Dirección: <%= @chance.address %></li>
		  </ul>
	    <% end %>
		</section>

	 	<div class="row">
		<%= form_for @chance, html: { id: "chance-form" } do |f| %>

			<%= f.fields_for :products do |ff| %>
		       <%= render 'product_fields', :f => ff %>
		       <%= link_to_add_association 'add product', f, :products %>
		    <%= link_to_remove_association "remove product", f %>
		    <% end %>

		<% end %>
		</div>
	</div>


	<div class="large-4 column">

		<div class="map" id="map">
			
		</div>
	</div>
</div>


