<div class="row">
<h1>Excedentes disponibles</h1>

<table>
	<tr>
		<th>Nombre</th>
		<th>Dirección</th>
		<th>Horario de recogida</th>
		<th>Productos</th>
		<th>Operaciones</th>
	</tr>
  <% @chances.each do |chance| %>
	<tr>
	<td>
    	<%= chance.title %>
	</td>
	<td>
    	<%= chance.address %>
	</td>
	<td>
    	<%= chance.schedule %>
	</td>
	<td>
	<ul>
    <% chance.products.each do |product| %>
      <li><%= product.quantity %> kilos de <%= product.food_type %> - Caducidad: <%= product.expiration %></li>
      <li><a href="/chances?food_type=<%= product.food_type %>"><%= product.food_type %></a></li>

    <% end %>
	</ul>
	</td>
	<td>
    <p><%= link_to "Ver", chance_path(chance.id) %> - <%= link_to "Editar", edit_chance_path(chance.id) %> - <%= link_to "Borrar", chance_path(chance.id), method: 'delete', data: {confirm: "¿Borrar " + chance.title + "?"} %></p>
	</td>
	</tr>
  <% end %>
</table>
<div>
