<div class="row">
    <section class="large-12 columns home-section">
        <img class="home-image" src="marca-espigoladors.png">
        
        <p class="home-text">Si tienes un excedente podemos ayudar a que asociaciones la distribuyan entre la gente que lo necesita.  Rellena el formulario y nosotros nos encargamos de recogerla.</p>
    </section>

    <div class="large-8 large-centered columns">
      <%= form_for @chance, html: { id: "chance-form" } do |f| %>
          <%= f.label :all_tags, "Etiquetas" %>
          <%= f.text_field :all_tags %>
          <%= f.label :title, "¿Quien eres?" %>
          <%= f.text_field :title %>
          <%= f.label :address, "Escribe la localizacion donde podemos encontrarte" %>
          <%= f.text_field :address %>
          <%= f.label :schedule, "Horario de recogida" %>
          <%= f.text_field :schedule %>
          <%= f.label :email, "¿Cuál es tu email de contacto?" %>
          <%= f.text_field :email %>
          <div class="large-4">
            <%= f.fields_for :products do |ff| %>
              <%= render 'product_fields', :f => ff %>
              <div>
                <%= link_to_add_association 'add products', f, :products %>
              </div>
            <% end %>
          </div>
          <%= f.submit type="Submit", class: "button" %>

      <% end %>

    </div>
</div>




<div class="large-10 push-2 columns">

</div>