<div class="row">
    <section class="large-8 columns home-section">
        
        <p class="home-text">Si tienes fruta y verdura para descartar o productos excedentes, podemos ayudar a que se distribuyan entre la gente que lo necesita.</p>
        <img class="home-image" src="marca-espigoladors.png">
    </section>

    <div class="large-4 columns home-form">
      <%= form_for @chance, html: { id: "chance-form" } do |f| %>

          <p class="home-subtext">Rellena el formulario y nosotros nos encargamos de recogerla.</p>
          <%= f.label :title, "¿Quien eres?" %>
          <%= f.text_field :title %>
          <%= f.label :address, "Escribe la localizacion donde podemos encontrarte" %>
          <%= f.text_field :address %>
          <%= f.label :schedule, "Horario de recogida" %>
          <%= f.text_field :schedule %>
          <%= f.label :email, "¿Cuál es tu email de contacto?" %>
          <%= f.text_field :email %>
            <%= f.fields_for :products do |ff| %>
              <%= render 'product_fields', :f => ff %>
            <% end %>

          <%= f.submit value: "Añade tu producto", class: "button expand home-button" %>

      <% end %>

    </div>
</div>




<div class="large-10 push-2 columns">

</div>