<div class="row">
    <section class="large-12 columns home-section">
        <img class="home-image" src="marca-espigoladors.png">
        
        <p class="home-text">Si tienes un excedente podemos ayudar a que asociaciones la distribuyan entre la gente que lo necesita.  Rellena el formulario y nosotros nos encargamos de recogerla.</p>
    </section>

    <div class="large-8 large-centered columns">
      <%= form_for @chance, html: { id: "chance-form" } do |f| %>
          <%= f.label :title, "¿Quien eres?" %>
          <%= f.text_field :title %>
          <%= f.label :address, "Escribe la localizacion donde podemos encontrarte" %>
          <%= f.text_field :address %>
          <%= f.label :schedule, "Horario de recogida" %>
          <%= f.text_field :schedule %>
            <%= f.fields_for :products do |ff| %>
              <div>
                <%= ff.label :food_type, "Producto" %>
                <%= ff.text_field :food_type %>
                <%= ff.label :quantity, "Cantidad en kilos" %>
                <%= ff.text_field :quantity %>
                <%= ff.label :expiration, "Fecha de caducidad" %>
                <%= ff.text_field :expiration %>
              </div>
            <% end %>
          <%= f.submit type="Submit", class: "button" %>

      <% end %>

    </div>
</div>




<div class="large-10 push-2 columns">

</div>