<h1><%= @chance.food_type %></h1>

<p>Quantity: <%= @chance.quantity %></p>
<p>Expiration: <%= @chance.expiration %></p>
<p>Address: <%= @chance.address %></p>
<p>Schedule: <%= @chance.schedule %></p>


